<footer>
    <nav class="donazioni">
        <h4>Donazioni</h4>
        <ul>
            <li><a href="https://paypal.me/naicols" target="_blank" rel="noreferrer">PayPal</a></li>
            {% for donation in site.pages %}{% if donation.categories == "donations" %}<li><a href="{{ donation.url }}">{{ donation.title }}</a></li>{% endif %}{% endfor %}
        </ul>
    </nav>
    <nav class="social">
        <h4>Contatti</h4>
        <ul>
            <li><a href="https://github.com/nicheosala" target="_blank" rel="noreferrer">GitHub</a></li>
            <li><a href="https://runtastic.com/user/DBDBZ29DGSPIQ15F" target="_blank" rel="noreferrer">Runtastic</a></li>
            <li><a href="https://open.spotify.com/user/nicolo_sala" target="_blank" rel="noreferrer">Spotify</a></li>
            <li><a href="https://twitter.com/nicheosala" target="_blank" rel="noreferrer">Twitter</a></li>
        </ul>
    </nav>
</footer>